[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
nltk = "*"
gensim = "*"
spacy = "*"
pyldavis = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
